:root {
  --dark-blue : #091D36;
  --med-blue: #3A4E7A;
  --light-blue : #5E83BA;
  --super-light : #C2D3E9;
  --white : #F1F1F0;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Cinzel", serif;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 60px;
  background-color: var(--dark-blue);
  color: var(--white);
  border-bottom: 1px solid var(--super-light);
}

.header .logo {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.header .logo img {
  width: 10%;
}

.header .navbar ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  list-style-type: none;
}

.header .navbar ul li a {
  text-decoration: none;
  font-size: 1.4rem;
  color: var(--white);
}

.header .navbar ul li a:hover {
  color: var(--super-light);
  transition: .2s linear;
}

.card {
  width: 300px;
  overflow: hidden;
  padding: 20px;
  padding-bottom: 25px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2), 
              0 6px 20px rgba(0, 0, 0, 0.15);
  border-radius: 15px;
  text-align: center;
  height: auto;
  color: var(--dark-blue);
  background-color: var(--white);
}

.card img {
  width: 100%;
}

.card p {
  margin-bottom: 1rem;
}

.card a {
  text-decoration: none;
  padding: 10px;
  border-radius: 15px;
  background-color: var(--dark-blue);
  color: var(--white);
}

.katalog {  
  padding: 30px 60px;
  text-align: center;
  align-items: center;
  background-color: var(--dark-blue);
}

.katalog > h1 {
  color: var(--super-light);
  font-size: 2.8rem;
}

.katalog .p-card {
  margin-top: 2rem;
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  align-items: center;
}